body {
    font-family: 'Roboto Mono', monospace;
  color: rgb(70, 70, 89);
  font-size: 18px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  
}
.main-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 2rem;
  margin: 0;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.341) 0px 7px 29px 0px;
  z-index: 2;
}

.logo-nav {
    width: 60px;
    padding: 10px;
    margin-right: 100px;
    
}
#logo {
  color: rgb(70, 70, 89);
  font-size: 18px;
    font-weight: 700;
    padding: 0;
}

#logo:hover {
  color: #baafe6;
}

strong {
  color: #baafe6;
}
a {
  text-decoration: none;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 600px;
}

.navButtons {
  color: rgb(83, 70, 89);
  font-weight: 500;
}

.navButtons:hover {
  color: #d840f3;
}

.buttonProjeto {
  background: linear-gradient(45deg, #8f75ff, rgb(197, 143, 215));
  border-radius: 5px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
  padding: 8px;
}
.buttonProjeto:hover {
  box-shadow: rgba(40, 1, 47, 0.4) 0px 2px 4px,
  rgba(39, 0, 46, 0.3)  0px 7px 13px -3px, rgba(38, 0, 46, 0.1)  0px -3px 0px inset;
}

.perfil {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(243, 232, 253, 0.482);
}
.perfil h2 {
  max-width: 500px;
  font-size: 28px;
}
#fotoperfil {
  width: 300px;
  margin: 1rem;
  border-radius: 100%;
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(45deg, #8f75ff, rgb(172, 25, 221)) border-box;
  border: 5px solid transparent;
}
h3 {
  color: #8f75ff;
  font-size: 24px;
  margin-bottom: 0;
}
#tecnologias{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.text-1 {
  text-align: center;
}

#projetos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem;
  margin-top: 2rem;
}
.icones {
  margin-top: 1rem;
}
.icons {
  width: 50px;
  margin: 1rem;
}

#sobre {
  background-color: rgba(245, 232, 253, 0.482);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2rem;
}

.conteudoSobre {
  display: flex;
  align-items: center;
  width: 80%
  margin-rigth: 250px;
}

.SobreImg {
  width: 300px;
  height: 300px;
  margin-right: 2rem;
}

#sobre p {
  max-width: 700px;
  line-height: 2;
  text-align: justify;
  margin-top: 10px;
}

.button-icon {
    width: 50 px;
    font-size: 1rem;
    margin-right: 20px;
    transition: .3s;
    display: flex;
    background: linear-gradient(45deg, #8f75ff, rgb(197, 143, 215));
    color: #ffffff;
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: 100;
}

.button-icon:hover {
  box-shadow: rgba(40, 1, 47, 0.4) 0px 2px 4px,
  rgba(39, 0, 46, 0.3)  0px 7px 13px -3px, rgba(38, 0, 46, 0.1)  0px -3px 0px inset;
}

.button_icon {
  width: 15px;
  margin-left: 10px;
  margin-top: 1px;
}

.portfolio-img{
    display: flex;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
}

.telas {
    width: 500px;
    margin: 1rem;
}

hr {
  width: 100%;
  height: 5px;
  background-color: #8f75ff;
  border: none;
  margin: 1rem 0;
}
#contatos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(245, 232, 253, 0.482)
}

#contatos p {
  display: flex;
  align-items: center;
}

.WrapperButtonsContato {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.buttonContato {
  background-image: linear-gradient(45deg, #8f75ff, rgb(197, 143, 215));
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 10px 16px;
  margin: 1rem;
}
.buttonContato:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.buttonContato img {
  width: 40px;
  margin-right: 1rem;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  margin-top: 1rem;
  padding: 10px;
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
    margin: 0;
  }
  .main-header {
    flex-direction: column;
    align-items: center;
  }
  nav {
    margin-top: 0.5rem;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  .logo-nav {
    margin-right: 0;
  }
  .perfil {
    flex-direction: column;
    align-items: center;
  }
  #fotoperfil {
    width: 200px;
    margin: 1rem;
  }
  #tecnologias {
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;

  }
  #projetos {
    margin: 1rem;
  }
  #sobre {
    margin: 1rem;
    flex-direction: column;
    align-items: center;
  }
  .SobreImg {
    flex-direction: column;
    margin: 1rem;
  }

  .conteudoSobre{
    flex-direction: column;
  }

  .text{
    align-items: center;
    margin: 0.5rem;
  }

  p {
    text-align: justify;
  }
  .text-p{
    margin: -15px;
  }
  .container-text{
    flex-direction: column;
    align-items: center;
  }

  .telas{
    width: 300px;
    margin: 1rem;
  }
  
  .portfolio-img{
    flex-direction: column;
  }

  #contatos{
    flex-direction: column;
    text-align: center;

  }
  .WrapperButtonsContato {
    flex-direction: column;
  }
  .buttonContato {
    margin: 1rem 0;
  }
  footer {
    margin-top: 1rem;
  }
}


